/*google font*/
@import url('https://fonts.googleapis.com/css?family=Poppins:400,700,800,900&display=swap');

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins',sans-serif;
}

.container {
    padding-left: 0 !important;
    padding-right: 0 !important;
    min-width: 100% !important;
}




/*slider*/
#carouselExampleIndicators{
	position: relative;
	height: 100vh;
	width: 100%;
}
#carouselExampleIndicators .carousel-inner{
	position: relative;
	height: 100%;
	width: 100%;
}
#carouselExampleIndicators .carousel-inner:before{
	position: absolute;
	content: '';
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 1;
}
#carouselExampleIndicators .carousel-inner .carousel-item{
	position: relative;
	height: 100%;
	width:100%;
	background: url('m9.png');
	background-size: 100% 100%;
	background-position: center;
	background-attachment: fixed;
}

#carouselExampleIndicators .carousel-inner .carousel-item .info{
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	height: auto;
	width: 100%;
	z-index: 1;
	text-align: center;
}



--------------------------------------------



.bg-primary{
    background-color: #2a2a6e !important;
}

.active{
    color: antiquewhite !important;
}

.nav-item{
    font-size: 18px !important;
    margin-left: 40px !important;

}

.navbar-brand{
    margin-left: 65px !important;
    font-size: 29px !important;
    font-weight: 500 ;
    color: antiquewhite !important;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.nav-link {
    transition: transform 0.2s; /* Agrega una transición suave */
  }

  .nav-link:hover {
    transform: scale(1.3); /* Escala el elemento a un 10% más grande al pasar el mouse */
    color: brown !important;
  }


nav{
    background-color: rgb(25, 25, 112) !important;

}
